* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

body {
  background: linear-gradient(to bottom, #0a2330, #015122);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  font-size: 2rem;
  border: 1px solid white;
  background-color: rgba(200, 247, 210, 0.75);
  cursor: pointer;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  grid-column: span 3;
  letter-spacing: 0.1em;
  background-color: whitesmoke;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.output .current-operand {
  color: black;
  font-size: 2.5rem;
}
